*{
    margin: 0;
    padding: 0;
}

body{
    background-color: burlywood;
    font-family: sans-serif;
}
.main-container{
    background-color: white;
    width: 90%;
    padding: 10px;
    margin: auto;
}

.foto-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.foto-container img{
    width: 20%
}

.menu-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.menu-header a{
    flex: 1;
    text-decoration: none;
    background-color: burlywood;
    color: black;
    padding: 5px;
    border: 1px solid white;
    text-align: center;
}

.menu-header a:hover{
    background-color: chocolate;
    color: white;
}

.info-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.paket-container{
    width: 400px;
    margin-top: 10px;
    margin-right: 15px;
    background-color: white;
    border: 0.5px solid burlywood;
}

.paket-container:hover{
    background-color: chocolate;
    color: white;
}

.paket-container img{
    width: 400px;
    height: 150px;
    object-fit: cover;
}

.paket-container h4{
    color: rgb(68, 68, 68);
    margin: 10px;
}

.paket-container h3{
    margin: 10px;
}

.video-container{
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-container iframe{
    width: 100%;
    height: auto;
}

.cari{
    margin-bottom: 10px;
}

.cari input[type="text"]{
    padding: 5px;
    margin-right: 10px;
}

.cari input[type="submit"]{
    padding: 5px;
}

.footer-container{
    background-color: burlywood;
    text-align: center;
    margin: 10px;
    padding: 20px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container:hover{
    background-color: chocolate;
    color: white;   
}

.brand-container{
    width: 40%;
    position: absolute;
    top: 20%;
    left: 10%;
}

.brand-container img{
    width: 30%;
    text-shadow: 2px 2px 8px #000;
}

.brand-container h1{
    color: chocolate;
    margin: 0;
    font-size: 3.5vw;
    text-shadow: 2px 2px 8px #000;
}